In [1]:
# 10강 시작
# 리스트 만들기 (각 값을 요소-element-라 함)
a = [38, 21, 53, 62, 19]
a

[38, 21, 53, 62, 19]

In [2]:
person =['James', 17, 175.3, True]
person

['James', 17, 175.3, True]

In [3]:
a =[]
a

[]

In [4]:
b = list()
b

[]

In [5]:
# range-연속된 숫자 생성-를 활용한 리스트 만들기
range(10)

range(0, 10)

In [6]:
range(10)
range(0, 10)

range(0, 10)

In [8]:
a = list(range(10))      # range(10), range(0, 10)이라고 지정한다고 해서 끝나는 수(이 경우 10)는 포함되지 않고 9까지 출력됨.
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [9]:
b = list(range(5, 12))
b

[5, 6, 7, 8, 9, 10, 11]

In [11]:
c = list(range(-4, 10, 2))      # range(시작값, 끝값, 증가폭) _ 시작값 > 끝값이면 []빈 리스트 출력됨.
c

[-4, -2, 0, 2, 4, 6, 8]

In [12]:
d = list(range(10, 0, -1))      # range(시작값, 끝값, 증가폭)으로 쓰여도 끝값(해당 예시의 경우 0)은 포함되지 않는 건 동일함.
d

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [16]:
# 튜플 : 리스트처럼 요소를 일렬 저장하지만, 요소 변경, 추가, 삭제 불가
# ()소괄호 있어도 되고 없어도 가능.
# 여러 자료형 섞어도 가능
a = (38, 21, 53, 62, 19)
a

(38, 21, 53, 62, 19)

In [17]:
a = 38, 21, 53, 62, 19
a

(38, 21, 53, 62, 19)

In [18]:
person = ('James', 17, 175.3, True)
person

('James', 17, 175.3, True)

In [19]:
(38)    # 변수 없이 값에 괄호를 치면 그냥 값

38

In [20]:
(38,)     # 값이 한 개인 튜플은 변수 없이 콤마만 붙이면 됨.

(38,)

In [21]:
38,

(38,)

In [22]:
# range로 튜플 만들기
a = tuple(range(10))
a

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [23]:
b = tuple(range(5, 12))
b

(5, 6, 7, 8, 9, 10, 11)

In [24]:
c = tuple(range(10, 0, -1))
c

(10, 9, 8, 7, 6, 5, 4, 3, 2, 1)

In [25]:
# list(리스트) <-> tuple(튜플) 바꾸기
a = [1,2,3]
tuple(a)

(1, 2, 3)

In [26]:
b = (4,5,6)
list(b)

[4, 5, 6]

In [27]:
list('Hello')      # 문자열을 각각 리스트(list), 튜플(tuple)로 분해해 바꾸는 것도 가능

['H', 'e', 'l', 'l', 'o']

In [28]:
tuple('Hello')

('H', 'e', 'l', 'l', 'o')

In [29]:
a, b, c = [1, 2, 3]
print(a, b, c)

1 2 3

In [30]:
# 리스트, 튜플 언패킹(unpacking)
x = [1, 2, 3]
a, b, c = x
print(a, b, c)

1 2 3

In [31]:
y = (4, 5, 6)
d,e,f = y
print(d,e,f)

4 5 6

In [33]:
x = input().split()

10 20

In [34]:
a, b = x
print(a,b)

10 20

In [37]:
# 10.4 연습문제
a = list(range(5, -10, -2))      # range(시작값, 끝값, 변동폭) 변동폭에 플러스인지 마이너스인지 부호 붙여줘야 함.
a

[5, 3, 1, -1, -3, -5, -7, -9]

In [1]:
# 10.5 심사문제
a = int(input())
b = tuple(range(-10, 10, a))
print(b)

2
(-10, -8, -6, -4, -2, 0, 2, 4, 6, 8)