In [1]:
# 26강 시작
# set = 집합
# 세트 = {값1, 값2, 값3}
fruits = {'strawberry', 'grape', 'orange', 'pineapple', 'cherry'}
fruits
# 세트는 요소의 순서가 정해져 있지 않아서 출력할때마다 요소 순서 다르게 나온다.

{'cherry', 'grape', 'orange', 'pineapple', 'strawberry'}

In [2]:
# 세트 요소는 중복될수 없다. 중복되는 요소 있더라도 한 개만 출력됨.
fruits = {'orange', 'orange', 'cherry'}
fruits

{'cherry', 'orange'}

In [1]:
# 대괄호(인덱스)로 특정 요소만 출력하기 불가
# set에 특정값 있는지 확인
fruits = {'strawberry', 'grape', 'orange', 'pineapple', 'cherry'}
'orange' in fruits

True

In [2]:
'peach' in fruits

False

In [3]:
'peach' in fruits

False

In [4]:
# set(반복 가능한 객체)
# 중복된 문자 포함 
a = set('apple')
a

{'a', 'e', 'l', 'p'}

In [7]:
b = set(range(5))
b

{0, 1, 2, 3, 4}

In [14]:
# 빈 세트
c = set()
c

set()

In [12]:
c = {}
type(c)

dict

In [15]:
set('안녕하세요')

{'녕', '세', '안', '요', '하'}

In [18]:
# 내용 변경 불가능한 세트
a = frozenset(range(10))
a

frozenset({0, 1, 2, 3, 4, 5, 6, 7, 8, 9})

In [23]:
#frozenset는 세트 안에 세트를 넣고 싶을 때 사용(단, frozenset만 들어갈 수 있음)
frozenset({3,4})
frozenset({frozenset({1,2}), frozenset({3,4})})

frozenset({frozenset({3, 4}), frozenset({1, 2})})

In [24]:
# 집합 연산
# 합집합 | 
# set.union 메서드와 같은 동작
a = {1,2,3,4}
b = {3,4,5,6}
a | b

{1, 2, 3, 4, 5, 6}

In [25]:
set.union(a,b)

{1, 2, 3, 4, 5, 6}

In [26]:
# 교집합 &
# set.intersection 메서드와 같은 동작
a = {1,2,3,4}
b = {3,4,5,6}
a & b

{3, 4}

In [27]:
set.intersection(a,b)

{3, 4}

In [29]:
# 차집합 -
# set.difference 메서드와 같은 동작
a - b

{1, 2}

In [31]:
b - a

{5, 6}

In [32]:
set.difference(a,b)

{1, 2}

In [33]:
# 대칭차집합
# XOR 연산자 ^ 사용  --  XOR 연산자는 서로 다르면 참
# 두 집합 중 겹치지 않는 요소만 포함
# set.symmetric_difference 메서드와 같은 동작
a ^ b

{1, 2, 5, 6}

In [34]:
set.symmetric_difference(a, b)

{1, 2, 5, 6}

In [35]:
# 집합 연산 후 할당 연산자 사용하기
# |= 는 현재 세트에 다른 세트 더한다. ( == update 메서드)
a = {1,2,3,4}
a |= {5}
a

{1, 2, 3, 4, 5}

In [37]:
a.update({5})
a

{1, 2, 3, 4, 5}

In [38]:
# &=  두 세트 중에 겹치는 요소만 현재 세트에 저장
# intersection_update 메서드와 같다
a = {1,2,3,4}
a &= {0,1,2,3,4}
a

{1, 2, 3, 4}

In [39]:
a={1,2,3,4}
a.intersection_update({0,1,2,3,4})
a

{1, 2, 3, 4}

In [41]:
#  -=  현재 세트에서 다른 세트를 뺀다
# difference_update 메서드와 같다
a = {1,2,3,4}
a -= {3}
a

{1, 2, 4}

In [43]:
a.difference_update({3})
a

{1, 2, 4}

In [44]:
#  ^=  두 세트 중 겹치지 않는 요소만 현재 세트에 저장
# symmetric_difference_update 메서드와 같다
a = {1,2,3,4}
a ^= {3,4,5,6}
a

{1, 2, 5, 6}

In [46]:
a = {1,2,3,4}
a.symmetric_difference_update({3,4,5,6})
a

{1, 2, 5, 6}

In [47]:
# 부분집합과 상위집합 확인하기
#  <=  현재 세트가 다른 세트의 부분집합인지 확인
# issubset 메서드와 같다
# 형식 :  현재세트 <= 다른세트
# 형식 :  현재세트.issubset(다른세트)
a = {1,2,3,4}
a <= {1,2,3,4}

True

In [48]:
a.issubset({1,2,3,4,5})

True

In [49]:
#   <  현재세트가 다른 세트의 진부분집합(자기자신을 제외한 부분집합)인지 확인
# 형식: 현재세트 < 다른세트
a = {1,2,3,4}
a < {1,2,3,4,5}

True

In [50]:
#  >=  현재세트가 다른 세트의 상위집합인지 확인
# issuperset 메서드와 같다
# 형식: 현재세트 >= 다른세트
# 형식: 현재세트.issuperset(다른세트)
a = {1,2,3,4}
a >= {1,2,3,4}

True

In [51]:
a.issuperset({1,2,3,4})

True

In [52]:
#  >  현재 세트가 다른 세트의 진상위집합(A ⊃ B 이고 A ≠ B)인지 확인
# 형식: 현재세트 > 다른세트
a = {1,2,3,4}
a>{1,2,3}

True

In [53]:
#  ==  세트가 서로 같은지 확인
a = {1,2,3,4}
a == {1,2,3,4}

True

In [54]:
# 요소의 순서와는 상관 없음
a == {4,2,1,3}

True

In [55]:
#  !=  세트가 다른지 확인
a = {1,2,3,4}
a != {1,2,3}

True

In [56]:
# 세트가 겹치지 않는지 확인
# 겹치지 않는게 true
# 현재세트.isdisjoint(다른세트)
a = {1,2,3,4}
a.isdisjoint({5,6,7,8})

True

In [57]:
a.isdisjoint({3,4,5,6})

False

In [58]:
# 세트에 요소 추가
# 세트.add(요소)
a = {1,2,3,4}
a.add(5)
a

{1, 2, 3, 4, 5}

In [59]:
# 세트에 특정 요소 제거하기
# 세트.remove(요소)
a.remove(3)
a

{1, 2, 4, 5}

In [60]:
# 세트.discard(요소)
# 특정 요소 있으면 삭제하고 없으면 넘어감
a.discard(2)
a

{1, 4, 5}

In [62]:
a.discard(3)
a

{1, 4, 5}

In [63]:
# 세트에서 임의의 요소 삭제하기
a = {1,2,3,4}
a.pop()

1

In [64]:
a.pop()

2

In [65]:
a.pop()

3

In [66]:
a.pop()

4

In [67]:
a.pop()   # 요소가 없으면 에러

KeyError: 'pop from an empty set'

In [69]:
# clear()  세트 모든 요소 삭제
a = {1,2,3,4}
a.clear()
a

set()

In [70]:
# 세트 요소 개수 구하기
a = {1,2,3,4}
len(a)

4

In [71]:
# copy()  세트의 복사
a = {1,2,3,4}
b = a

In [72]:
a is b

True

In [73]:
b.add(5)
a

{1, 2, 3, 4, 5}

In [74]:
b

{1, 2, 3, 4, 5}

In [77]:
b = a.copy()
a is b

False

In [78]:
a == b

True

In [79]:
# 반복문으로 세트의 요소 모두 출력
# for 변수 in 세트:
#     반복할 코드
a = {1,2,3,4}
for i in a: 
    print(i)

1
2
3
4

In [80]:
# for문으로 세트 생성
# 형식: {식 for 변수 in 반복가능한객체}
# 형식: set(식 for 변수 in 반복가능한객체)
a = {i for i in 'apple'}
a

{'a', 'e', 'l', 'p'}

In [81]:
# if문으로 세트 생성
# 형식: {식 for 변수 in 세트 if 조건식}
# 형식: set(식 for 변수 in 세트 if 조건식)
a = {i for i in 'pineapple' if i not in 'apl'}
a

{'e', 'i', 'n'}

In [83]:
# 26.8 연습문제
a = {i for i in range(1,101) if i % 3 == 0}
b = {i for i in range(1,101) if i % 5 == 0}
print(a & b)

{75, 45, 15, 90, 60, 30}

In [84]:
# 26.9 심사문제
a,b = map(int, input().split())
a = 공약수..?

divisor = a & b
result = 0
if type(divisor) == set:
    result = sum(divisor)
print(result)

SyntaxError: invalid syntax (239678569.py, line 3)