In [2]:
# 22강 시작
# 리스트에 요소 추가하기
# append: 리스트 끝에 요소 하나 추가
# extend: 리스트를 연결하여 확장
# insert: 특정 인덱스에 요소 추가

a = [10, 20, 30]
a.append(500)
a

[10, 20, 30, 500]

In [3]:
len(a)

4

In [5]:
a = []
a.append(10)
a

[10]

In [6]:
# append에 리스트를 넣으면
# 리스트 안에 리스트가 들어가 중첩 리스트 됨.
# len(a) 는 5가 아닌 4.

a = [10, 20, 30]
a.append([500, 600])
a

[10, 20, 30, [500, 600]]

In [7]:
# extend
# 리스트에 요소 여러 개 추가
# len(a) = 5

a = [10, 20, 30]
a.extend([500, 600])
a

[10, 20, 30, 500, 600]

In [10]:
# insert
# 리스트의 특정 인덱스에 요소 추가
# 형식 :
# insert(인덱스, 요소)   => 인덱스 2 자리에 '요소'를 넣겠다

a = [10, 20, 30]
a.insert(2, 500)
a

[10, 20, 500, 30]

In [11]:
len(a)

4

In [12]:
# 리스트 처음에 요소 추가 : insert(0, 요소)
# 리스트 끝에 요소 추가 : insert(len(리스트), 요소)

a = [10, 20, 30]
a.insert(0, 500)
a

[500, 10, 20, 30]

In [13]:
a = [10, 20, 30]
a.insert(len(a), 500)
a

[10, 20, 30, 500]

In [15]:
# insert 는 요소 한 개 추가. so, insert에 리스트 넣으면 중첩리스트 됨
a = [ 10, 20, 30]
a.insert(1, [500, 600])
a

[10, [500, 600], 20, 30]

In [16]:
a = [10, 20, 30]
a[1:1] = [500, 600]
a

[10, 500, 600, 20, 30]

In [19]:
# pop: 마지막 요소, 특정 인덱스 요소 삭제 후 반환
# remove: 특정값 찾아 삭제

a = [10, 20, 30]
a.pop()

30

In [20]:
a

[10, 20]

In [21]:
# pop(n)으로 특정 인덱스(n) 요소 삭제
a = [10, 20, 30]
a.pop(1)

20

In [22]:
a

[10, 30]

In [23]:
# pop 대신 del 사용도 가능

a = [10, 20, 30]
del a[1]
a

[10, 30]

In [24]:
# 리스트에서 특정 값 지정해 삭제
# remove(값)
a = [10, 20, 30]
a.remove(20)
a

[10, 30]

In [25]:
# 리스트에 값이 중복될 경우 처음 값만 삭제
a = [10, 20, 30, 20]
a.remove(20)
a

[10, 30, 20]

In [27]:
# index(값)
# 리스트에서 특정 값의 인덱스가 뭔지
# 리스트에 값이 중복될 경우 처음 값의 인덱스를 구함

a = [10, 20, 30, 15, 20, 40]
a.index(20)

1

In [29]:
# count(값)
# 특정 값의 개수

a = [10, 20, 30, 15, 20, 40]
a.count(20)

2

In [30]:
# reverse()
# 리스트 순서 뒤집기

a = [10, 20, 30, 15, 20, 40]
a.reverse()
a

[40, 20, 15, 30, 20, 10]

In [31]:
# sort()
# 리스트 오름차순으로 정렬
# 형식 :
# 오름차순: sort()  또는  sort(reverse=False)
# 내림차순: sort(reverse=True)

a = [10, 20, 30, 15, 20, 40]
a.sort()
a

[10, 15, 20, 20, 30, 40]

In [32]:
# sort()  vs  sorted()
# sort()는 리스트 자체를 변경
# sorted()는 정렬된 새 리스트 생성

a = [10, 20, 30, 15, 20, 40]
a.sort()
a

[10, 15, 20, 20, 30, 40]

In [33]:
b = [10, 20, 30, 15, 20, 40]
sorted(b)

[10, 15, 20, 20, 30, 40]

In [34]:
# clear()
# 리스트의 모든 요소 삭제

a = [10, 20, 30]
a.clear()
a

[]

In [35]:
# clear()  <=>  del a[:]
a = [10, 20, 30]
del a[:]
a

[]

In [36]:
a = [10, 20, 30]
a[len(a):] = [500]   # <=> a.append(500)
a

[10, 20, 30, 500]

In [38]:
# 리스트 연결
a = [10, 20, 30]
a[len(a):] = [500, 600]    # <=> a.extend([500, 600])
a

[10, 20, 30, 500, 600]

In [39]:
# 리스트(시퀀스 객체) 비어 있는지 확인하는 방법 1
if not seq:    # 리스트가 비어 있으면 True
if seq:    # 리스트에 내용이 있으면 True

IndentationError: expected an indented block after 'if' statement on line 2 (3374210215.py, line 3)

In [40]:
# 리스트(시퀀스 객체) 비어 있는지 확인하는 방법 2
seq = [10, 20, 30]
seq[-1]    # 맨 마지막 인덱스를 호출해본다. 비어있다면 에러남.

30

In [41]:
# 리스트의 할당과 복사
a = [0, 0, 0, 0, 0]
b = a      # 리스트 a를 다른 변수에 할당하면 실제 리스트는 한 개.

In [42]:
a is b     # 즉, 변수 이름만 다를 뿐 리스트 a와 b는 같은 객체

True

In [43]:
b[2] = 99
a

[0, 0, 99, 0, 0]

In [44]:
a

[0, 0, 99, 0, 0]

In [45]:
b

[0, 0, 99, 0, 0]

In [46]:
# 리스트 a와 b를 완전히 두 개로 만들기 위해선
# copy 매서드로 모든 요소 복사해야.
a = [0, 0, 0, 0, 0]
b = a.copy()

In [47]:
b[2] = 99
b

[0, 0, 99, 0, 0]

In [48]:
a

[0, 0, 0, 0, 0]

In [49]:
a is b

False

In [50]:
# for 반복문으로 요소 출력
# 형식 :
# for 변수 in 리스트:
#     반복할 코드

a = [ 38, 21, 53, 62, 19]
for i in a:
    print(i)

38
21
53
62
19

In [51]:
# 인덱스와 요소 함께 출력
# for 인덱스, 요소 in enumerate(리스트):

a =[ 38, 21, 53, 62, 19]
for index, value in enumerate(a):
    print(index, value)

0 38
1 21
2 53
3 62
4 19

In [52]:
# 인덱스 말고 1부터 출력하고 싶다면1
a =[ 38, 21, 53, 62, 19]
for index, value in enumerate(a):
    print(index + 1, value)

1 38
2 21
3 53
4 62
5 19

In [53]:
# 인덱스 말고 1부터 출력하고 싶다면2
a =[ 38, 21, 53, 62, 19]
for index, value in enumerate(a, start=1):      # <=> enumerate(a,1)
    print(index, value)

1 38
2 21
3 53
4 62
5 19

In [55]:
a =[ 38, 21, 53, 62, 19]
for i in range(len(a)):
    print(a[i])

38
21
53
62
19

In [56]:
# while 반복문으로 요소 출력하기

a =[ 38, 21, 53, 62, 19]
i = 0
while i < len(a):
    print(a[i])
    i += 1

38
21
53
62
19

In [57]:
# 리스트의 가장 작은 수, 가장 큰 수 구하기
a =[ 38, 21, 53, 62, 19]
smallest = a[0]
for i in a:
    if i < smallest:
        smallest = i    # i가 smallest보다 작으면 smallest에 i를 할당함.
        
smallest

19

In [58]:
a =[ 38, 21, 53, 62, 19]
largest = a[0]
for i in a:
    if i > largest:
        largest = i    # i가 smallest보다 작으면 smallest에 i를 할당함.
        
largest

62

In [59]:
a =[ 38, 21, 53, 62, 19]
a.sort()
a[0]

19

In [60]:
a.sort(reverse=True)
a[0]

62

In [61]:
# 최솟값  min(리스트)
a =[ 38, 21, 53, 62, 19]
min(a)

19

In [62]:
# 최댓값  max(리스트)
max(a)

62

In [64]:
# 요소의 합계
# 반복문 사용 ver
a = [10, 10, 10, 10, 10]
x = 0
for i in a:
    x += i
    
x

50

In [65]:
# 요소의 합계    sum(리스트)
a = [10, 10, 10, 10, 10]
sum(a)

50

In [66]:
# 파이썬에선 리스트 안에 for문, if문 사용 가능
# 리스트 안에 식, for 반복문, if 조건문 지정해 리스트 생성하는 것을 list comprehension 이라 함.
# 리스트 표현식이라고도 부름

# 형식 :
# [식 for 변수 in 리스트]
# list(식 for 변수 in 리스트)

a = [i for i in range(10)]
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [68]:
# 0부터 9까지 숫자 생성해 리스트 생성
# 해석: range(10)으로 0부터 9까지 생성해 변수 i에 숫자를 꺼내고, 최종적으로 i 이용해 리스트를 만든다.

b = list(i for i in range(10))    
b

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [69]:
c = [i + 5 for i in range(10)]
c

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [70]:
d = [i * 2 for i in range(10)]     # 리스트 표현식은 list(식 for 변수 in 리스트)라고 표현 가능하긴 하지만 [] 대괄호를 사용하는 것이 좋음.
d

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [71]:
# 리스트 안의 if문
# 형식 :
# [식 for 변수 in 리스트 if 조건식]
# list(식 for 변수 in 리스트 if 조건식)

a = [i for i in range(10) if i% 2 == 0 ]
a

[0, 2, 4, 6, 8]

In [72]:
b = [i + 5 for i in range(10) if i% 2 == 0 ]
b

[5, 7, 9, 11, 13]

In [73]:
# 리스트 표현식은 for문과 if문 여러 번 사용 가능
# [식 for 변수1 in 리스트1 if 조건식1
#     for 변수2 in 리스트2 if 조건식2]

a = [i*j for j in range(2, 10) for i in range(1, 10)]
a

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 3,
 6,
 9,
 12,
 15,
 18,
 21,
 24,
 27,
 4,
 8,
 12,
 16,
 20,
 24,
 28,
 32,
 36,
 5,
 10,
 15,
 20,
 25,
 30,
 35,
 40,
 45,
 6,
 12,
 18,
 24,
 30,
 36,
 42,
 48,
 54,
 7,
 14,
 21,
 28,
 35,
 42,
 49,
 56,
 63,
 8,
 16,
 24,
 32,
 40,
 48,
 56,
 64,
 72,
 9,
 18,
 27,
 36,
 45,
 54,
 63,
 72,
 81]

In [74]:
a = [ i * j for j in range(2, 10)
            for i in range(1, 10)]
a

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 3,
 6,
 9,
 12,
 15,
 18,
 21,
 24,
 27,
 4,
 8,
 12,
 16,
 20,
 24,
 28,
 32,
 36,
 5,
 10,
 15,
 20,
 25,
 30,
 35,
 40,
 45,
 6,
 12,
 18,
 24,
 30,
 36,
 42,
 48,
 54,
 7,
 14,
 21,
 28,
 35,
 42,
 49,
 56,
 63,
 8,
 16,
 24,
 32,
 40,
 48,
 56,
 64,
 72,
 9,
 18,
 27,
 36,
 45,
 54,
 63,
 72,
 81]

In [75]:
# 리스트에 map 사용
# list(map(함수, 리스트))
# tuple(map(함수, 튜플))

a = [1.2, 2.5, 3.7, 4.6]
for i in range(len(a)):
    a[i] = int(a[i])
a

[1, 2, 3, 4]

In [76]:
a = [1.2, 2.5, 3.7, 4.6]
a = list(map(int, a))
a

[1, 2, 3, 4]

In [77]:
a = list(map(str, range(10)))
a

['0', '1', '2', '3', '4', '5', '6', '7', '8', '9']

In [78]:
a = map(int, input().split())

10 20

In [79]:
a

In [80]:
list(a)

[10, 20]

In [81]:
# map이 반환하는 맵 객체는 이터레이터라 변수 여러 개에 저장하는 unpacking이 가능.
# 그래서 a, b = map(int, input().split())처럼 list 생략한 것
# a, b = map(int, input().split())   풀어쓰면

x = input().split()    # input().split()의 결과는 문자열 리스트
m = map(int, x)    # 리스트의 요소를 int로 변환, 결과는 맵 객체
a, b = n    # 맵 객체는 변수 여러 개에 저장

10 20

NameError: name 'n' is not defined

In [82]:
# 특정 값의 개수
# count
a = (10, 20, 30, 15, 20, 40)
a.count(20)

2

In [83]:
# 튜플 표현식
# tuple(식 for 변수 in 리스트 if 조건식)
a = tuple(i for i in range(10) if i%2==0)
a

(0, 2, 4, 6, 8)

In [84]:
a = (1.2, 2.5, 3.7, 4.6)
a = tuple(map(int, a))
a

(1, 2, 3, 4)

In [87]:
# 22.9 연습문제
a = ['alpha', 'bravo', 'charlie', 'delta', 'echo', 'foxtrot', 'golf', 'hotel', 'india']
b = [i for i in a if len(i) == 5]
print(b)

['alpha', 'bravo', 'delta', 'hotel', 'india']

In [88]:
# 22.10 심사문제
# 일단 통과

In [90]:
# 23강 시작
# 2차원 리스트
# 행 row, 열 column 모두 0부터 시작
# 리스트 안에 리스트를 넣어서 생성

# 리스트 = [[값, 값], [값,값], [값,값]]

a = [[10, 20],
     [30, 40],
     [50, 60]]
a

[[10, 20], [30, 40], [50, 60]]

In [91]:
# 2차원 리스트의 요소에 접근
# 리스트[세로인덱스][가로인덱스]
# 리스트[세로인덱스][가로인덱스] = 값

a = [[10,20],[30, 40], [50, 60]]
a[0][0]

10

In [92]:
a[1][1]

40

In [94]:
a[0][1] = 1000
a

[[10, 1000], [30, 40], [50, 60]]

In [95]:
# 톱니형 리스트(jagged list) : 가로 길이가 불규칙한 리스트

a = [[10, 20],
    [500, 600, 700],
    [9],
    [30, 40],
    [800, 900, 1000]]

In [97]:
# append 매서드 사용, 동적으로 톱니형 리스트 생성 가능
a = []
a.append([])
a[0].append(10)
a[0].append(20)
a.append([])
a[1].append(500)
a[1].append(600)
a[1].append(700)
a

[[10, 20], [500, 600, 700]]