In [1]:
# 30강 시작
# 위치 인수: 함수에 인수를 순서대로 넣는 방식, 인수의 위치가 정해져 있다.
print(10, 20, 30)

10 20 30

In [3]:
def print_numbers(a,b,c):
    print(a)
    print(b)
    print(c)
print_numbers(10, 20, 30)

10
20
30

In [4]:
# 애스터리스크(*) : 리스트나 튜플 앞에 * 붙이면 언패킹 되어 print_numbers(10, 20, 30) 과 동일한 동작함
x = [10, 20, 30]
print_numbers(*x)

10
20
30

In [5]:
print_numbers(*[10, 20, 30])

10
20
30

In [7]:
# 가변 인수 함수 만들기
# 가변 인수: 인수의 개수가 정해지지 않은 것, 매개변수에 * 붙이면 만들 수 있음.

# def 함수이름(*매개변수):
#    코드

def print_numbers(*args):
    for arg in args:
        print(arg)
        
print_numbers(10)

10

In [8]:
print_numbers(10, 20, 30, 40)

10
20
30
40

In [9]:
x = [10]
print_numbers(*x)

10

In [10]:
y = [10, 20, 30, 40]
print_numbers(*y)

10
20
30
40

In [11]:
# 키워드 인수 사용하기
def personal_info(name, age, address):
    print('이름: ', name)
    print('나이: ', age)
    print('주소: ', address)

In [12]:
personal_info('홍길동', 30, '서울시 용산구 이촌동')

이름:  홍길동
나이:  30
주소:  서울시 용산구 이촌동

In [13]:
# 위와 같이 쓰면 인수의 순서와 용도를 모두 기억해야 함.
# 키워드 인수 : 인수에 키워드를 붙이는 기능(키워드=값)

personal_info(name='홍길동', age="30", address= "서울시 용산구 이촌동")

이름:  홍길동
나이:  30
주소:  서울시 용산구 이촌동

In [14]:
# 순서 바꿔도 결과값 같다.
personal_info(age="30", address= "서울시 용산구 이촌동", name='홍길동')

이름:  홍길동
나이:  30
주소:  서울시 용산구 이촌동

In [15]:
print(10, 20, 30, sep=':', end='')
# sep, end도 키워드 인수

10:20:30

In [16]:
def personal_info(name, age, address):
    print('이름: ', name)
    print('나이: ', age)
    print('주소: ', address)
    
x = {'name': '홍길동', 'age':30, 'address': '서울시 용산구 이촌동'}
personal_info(**x)

이름:  홍길동
나이:  30
주소:  서울시 용산구 이촌동

In [17]:
personal_info(**{'name': '홍길동', 'age':30, 'address': '서울시 용산구 이촌동'})

이름:  홍길동
나이:  30
주소:  서울시 용산구 이촌동

In [19]:
# 딕셔너리에서 * 한 개: key만 사용
# 딕셔너리에서 * 두 개: key-value 둘 다 사용
x = {'name': '홍길동', 'age':30, 'address': '서울시 용산구 이촌동'}
personal_info(*x)

이름:  name
나이:  age
주소:  address

In [21]:
x= {'name': '홍길동', 'age':30, 'address': '서울시 용산구 이촌동'}
personal_info(**x)

이름:  홍길동
나이:  30
주소:  서울시 용산구 이촌동

In [27]:
# 키워드 인수를 사용하는 가변 인수 함수
# def 함수이름(**매개변수):
#    코드

def personal_info(**kwargs):
    for kw, arg in kwargs.items():
        print(kw, ': ', arg, sep='')

In [26]:
personal_info(name='홍길동')

name: 홍길동

In [28]:
personal_info(name= '홍ㅇㅇ', age = '30')

name: 홍ㅇㅇ
age: 30

In [29]:
x = {'name': '홍나니'}
personal_info(**x)

name: 홍나니

In [30]:
def personal_info(**kwargs):
    if 'name' in kwargs:
        print('이름: ', kwargs['name'])
    if 'age' in kwargs:
        print('나이: ', kwargs['age'])
    if 'address' in kwargs:
        print('주소: ',kwargs['address'])

In [31]:
# 매개변수에 초깃값 지정
# def 함수이름(매개변수 = 값)
#     코드
def personal_info(name, age, address='비공개'):
    print('이름: ', name)
    print('나이: ', age)
    print('주소: ', address)

In [32]:
# address는 초깃값이 있어서 address 부분 비워두고 호출 가능
personal_info('홍길동', 30)

이름:  홍길동
나이:  30
주소:  비공개

In [34]:
# 단, 초깃값이 지정된 매개변수 다음에 초깃값 없는 매개변수가 올 수는 없다.

def personal_info(name, age='적지 않음', address):
    print('이름: ', name)
    print('나이: ', age)
    print('주소: ', address)
    
personal_info('홍길이', 30)  # 이라고 호출했을 때, 30이 어디에 포함되는지 모르기 때문

SyntaxError: non-default argument follows default argument (352893349.py, line 3)

In [35]:
korean, english, mathematics, science = 100, 86, 81, 91
def get_max_score(*args):
    return max(args)
max_score = get_max_score(korean, english, mathematics, science)
print('높은 점수:', max_score)

높은 점수: 100